
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*header*/
.header {
    background-color: #07294d;
    line-height: 0px;
}

.list ul li {
    display: inline-block;
    margin-right: 45px;
    margin-top: 0px;
}

.header ul li span {
    color: #dee2e6;
    font-size: 15px;
    font-weight: 400px;
    margin-left: 10px;
}

.list {
    display: inline-block;
    margin: 0px
}

.header p {
    display: inline;
    color: #dee2e6;
    font-size: 15px;
    font-weight: 400px;
    margin-left: 40ch;
}

/*logo header*/
.logo {
    border-bottom: 1px solid #cecece;

}

.cont {
    position: absolute;
    top: 10ch;
    left: 65%;
    line-height: 0.2px;

}

#logo {
    padding: 5ch 5ch 10px 5ch;
}

.cont p {
    font-size: 13px;
    color: #8a8a8a;
    line-height: 18px
}

#logo2 {
    position: absolute;
    top: 11ch;
    left: 61%;
}

.cont span {
    font-size: 18px;
    color: #07294d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.main-btn {
    position: absolute;
    top: 9ch;
    left: 80%;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ffc600;
    padding: 0 35px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 50px;
    border-radius: 5px;
    color: #07294d;
    background-color: #ffc600;
}

.content-nav {
    background-color: white;
    width: 100%;
    line-height: 0.2;

}

.content-nav li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #07294d;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0;
}

.content-nav li a:active,
.content-nav li a:hover {
    color: #ffc600;

}

.home {
    margin-left: 7ch;
}


.content-nav li {
    margin: 3ch 2ch 2ch 5ch;
    display: inline-block
}

.sub {
    list-style-type: none;
    box-shadow: 2px 4px 8px 0 gray;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: #07294d;
    width: 200px;
    position: relative;
    top: 50ch;
    left: 10ch;
    display: none;
}

div.icon {
    display: inline-block;
}

.icon ul {
    display: inline-block;
}

.sub li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid rgba(255, 198, 0, 0.5);
    color: #fff;
}

.backgroundp{
    height: 40vh;
    background-image: url("../edubin-education-html-template/images/page-banner-3.jpg") ;
    height: 330px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 100vh;
}
.backgroundp h1{
    padding-top: 130px;
    padding-left: 40px;
    font-size: 60px;
    color: #fff;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.backgroundp ul{
    margin-left: 25px;
}
.backgroundp ul li {
    display: inline-block;
    font-style: normal;
    padding-left: 5px;
    padding-top: 10px;
}
.backgroundp ul li a {
    padding-top: 170px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.content h1{
    font-size: 40px;
    margin-top: 170px;
    margin-left: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content ul{
    margin-left: 60px;
    padding-top: 10px;
}
.content ul li{
    display: inline-block;
    font-style: normal;
    margin-left: 20px;
}
.content ul li a{
    text-decoration: none;
    color: rgba(0, 7, 4, 0.603);
    font-size: 20px;
    margin-top: 10px;
}
.pic{
    display: inline-block;
    
}
.pic img{
    margin-left: 70px;
    border-radius: 5px;
    width: 720px;
    height: 395px;
    vertical-align: middle;
    border: none;
    padding-top: 15px;
}
.countdown{
    margin-left: 850px;
    margin-top: -390px;
}
.countdown img{
    height: 200px;
    width: 310px;
    display: inline-block;
    border-style: none;
    border-radius: 5px;
}
.countdown ul{
margin-top: -180px;
margin-left: 25px;
}
.countdown ul li{
    display: inline-block;
    font-style: normal;
}
.countdown ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #ffc600;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.countdown .days {
margin-top: 170px;

}
.countdown .days ul{

}
.countdown .days ul li {
    padding-top: 15px;
}
.countdown .days ul li a{
font-size: 15px;
color: #fff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-style: normal;
}
.bookseat {
    margin-top: 40px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 290px;
    text-align-last: center;
    position: static;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#6f42c1;
    background-color: #ffc600;
}
.bordered{
    width: 310px;
    margin-left: 850px;
    margin-top: 50px;
    border: black;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    padding-bottom: 30px;
}
.bordered ul{
   
}
.bordered ul li{
    padding-top: 35px;
    padding-left: 30px;
    list-style: none;
}
.bordered ul li a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    vertical-align: middle;
}
.b2{
margin-top: -145px;
}
.b2 ul{

}
.b2 ul li {
    padding-top: 35px;
    padding-left: 30px;
    list-style: none;
    
}
.bordered .b2 ul li a{
    font-weight: lighter;
    color: gray;
}
.desc {
    width: 710px;
    margin-left : 70px;
    margin-top: -250px;
}
.desc h4{
    padding-top: -250px;
    line-height: 30px;
    font-weight: lighter;
    font-size: 18px;
}
.map {
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
/*footer*/
.yu {
    background-color: #07294d;
        display: grid;
    grid-template-columns: 2fr 0.7fr 0.4fr  0.6fr 1fr;
    color: rgb(230, 226, 226);}
 #pfooter{
     margin: 10ch 2ch 10ch 10ch;
 }
 #pfooter p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
 }

    .listfooter i{
        width: 35px;
        line-height: 35px;
        font-size: 15px;
        color: white;
        border-radius: 50%;
        text-align: center;
        background-color: #021d3a;
    }
    .footer2{
        margin:10ch 0ch 0ch 5ch;
    }
   .footer2 a{
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        display: block;
        line-height: 35px;
   }
   .footer2 i{
    margin-right: 8px;
    color: #ffc600;
   }
   .footer3 a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    line-height: 35px;
}
.footer3 i{
margin-right: 8px;
color: #ffc600;
}
.footer3{
    margin-top: 15ch;
    margin-left: 0px;

}


.yu h3,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.footer4{
    margin-top: 5ch;
}
.footer4 i{
    font-size: 18px;
    color: #ffc600;
    margin-right:1ch;}

.footer4 p{
margin-top: 0px;

}

.footer4 .in{
    margin-bottom: 3ch;
    display: flex;
}
.end{
    background-color: #021d3a;
    height: 10ch;
    
}
.end a{
    color: #007bff;
    text-decoration: none;
    margin: 5ch 9ch;
    display: inline-block;

}